/* commen responsive css  */
@media screen and (max-width:1599px) {
    
}
@media screen and (max-width:1399px) {
    
}
@media screen and (max-width:1299px) {
    
}
@media screen and (max-width:1199px) {
    
}
@media screen and (max-width:991px) {
    
}
@media screen and (max-width:764px) {
    .h2-title{
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        color: #ffffff;
    }    
}
@media screen and (max-width:575px) {
    
}
@media screen and (max-width:479px) {
    
}
@media screen and (max-width:359px) {
    
}



/* responsive css  */

@media screen and (max-width:1599px) {
    
}
@media screen and (max-width:1399px) {
    
}
@media screen and (max-width:1299px) {
    
}
@media screen and (max-width:1199px) {
    
}
@media screen and (max-width:991px) {
    
}
@media screen and (max-width:767px) {
    .header{
        width: 100%;
        padding: 5px 0px;
    } 
    .nav-menu .logo img{
        width: auto;
        height: 70px;
    } 
    .footer{
        text-align: center;
    }
}
@media screen and (max-width:575px) {
    
}
@media screen and (max-width:479px) {
    
}
@media screen and (max-width:359px) {
    
}