@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100;200;300;400;500;600;700;800;900&display=swap');
html,body{overflow-x:hidden;}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Comme', sans-serif;
    font-size: 18px;
    font-weight:400;
    line-break: 1.3;
    overflow-x: hidden;
    -webkit-text-stroke:1px transparent;
}
ol,ul{
    line-height:1.4;
    margin-bottom:15px;
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none !important;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
a:hover,
a:focus{
    text-decoration: none;
    outline: none;
}
.text-noeffect{
    font-size:inherit !important;
    margin:0 !important;
    font-family:inherit !important;
    padding:0 !important;
    color:inherit !important;
    font-weight:inherit !important;
    line-height:inherit !important;
    text-align:inherit !important;
    text-transform:inherit !important;
    width:inherit !important;
    float:inherit !important;
    border:0 !important;
}
.default-section{
    padding: 30px 0px;
    position: relative;
}
.h2-title{
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
}
.h2-title {
	text-align: center;
	font-size: 36px;
	font-weight: 400;
	color: #ffffff;
	margin-bottom: 20px;
	padding-bottom: 25px;
	margin-top: 20px;
	line-height: 1.4;
}
/*  module-1 header css code */
.header{
    width: 100%;
    padding: 20px 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    width: 100%;
    z-index: 9999;
    background: rgba(255,255,255,0);
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.nav-menu .logo img{
    width: auto;
    height: 90px;
}
.nav-menu .menu-btn{
    width: 50px;
    height: auto;
    cursor: pointer;
} 
.nav-menu .menu-btn span{
    width: 40px;
    height: 4px;
    display: block;
    background-color: #212121;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
.nav-menu .menu-btn span+span{
    margin-top: 10px;
}
.nav-menu .menu-btn:hover span {
	background: #ffdd00;
}
/* module-2 hero banner css code  */
.hero-banner{
    background-color: #0c56a1;
    text-align: center;
}
.hero-banner::before{
    content: '';
    width: 0;
    height: 0;
    border-bottom: 50px solid red;
    border-left: 100vw solid transparent;
    position: absolute;
    bottom: 0;
}
.hero-banner::after{
    
}
/* module-3 health-section css code  */
.health-section::before{
    content: '';
    width: 0;
    height: 0;
    border-bottom: 50px solid #0c56a1;
    border-left: 100vw solid transparent;
    position: absolute;
    bottom: 0;
}
.health-section .h2-title{
    color: #0c54a0;
}
.health-section p{
    text-align: center;
    color: #0c54a0;
}


/* module-4 product section css code  */
.product-section{
    background: #0c56a1;
}
.pro-sld-main {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 40px 0;
	background: #ed5839;
	border-radius: 20px;
    position: relative;
}
.pro-sld-main.red{
    background:#ed5839;
}
.pro-sld-main.ylw{
    background:#fbef4d;
}
.pro-sld-main.grn{
    background:#21b354;
}
.pro-sld-main img {
	max-width: 173px;
	height: auto;
	margin: 0 auto;
}
.pro-sld-main a {
	font-size: 22px;
	color: #fff;
	max-width: 170px;
	display: inline-block;
	line-height: 1.4;
	margin-top: 25px;
}
.pro-sld-main.ylw a{
    color: #0c54a0;
}
.pro-sld-main a:hover{
    color:#fbef4d;
}
.pro-sld-main.ylw a:hover {
	color: #ed5839;
}
.product-section .h2-title{
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
}
/* module-5 nrt-section css code  */
.nrt-section{
    background-color: #ffffff;
}
.nrt-section::before{
    content: '';
    width: 0;
    height: 0;
    border-bottom: 50px solid #0c56a1;
    border-left: 100vw solid transparent;
    position: absolute;
    bottom: 0;
}
/* module-6 journey section css code  */
.vimal-journey{
    background-color: #0c56a1;
}
.vimal-journey::before{
    content: '';
    width: 0;
    height: 0;
    border-bottom: 50px solid #ffffff;
    border-left: 100vw solid transparent;
    position: absolute;
    bottom: 0;
}

.vimal-journey .h2-title{
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
}
.vimal-journey .head-para{
    text-align: center;
    font-weight: 400;
    color: #ffffff;
}
/* module-7 oil-quiz section css  */
.oil-quiz{
    background-color: #ffffff;
}
/* module-8 recipe-section css code  */
.recipe-section{
    background-color: #fff;
}
.recipe-section::before{
    content: '';
    width: 0;
    height: 0;
    border-bottom: 50px solid #0c56a1;
    border-left: 100vw solid transparent;
    position: absolute;
    bottom: 0;
}
/* module-9 social-presence css code */
.social-presence{
    background-color: #0c56a1;
}
.social-presence::before{
    content: '';
    width: 0;
    height: 0;
    border-bottom: 50px solid #ffffff;
    border-left: 100vw solid transparent;
    position: absolute;
    bottom: 0;
}
/* module-10 form-section css code  */
.form-section{
    background-color: #ffffff;
}
.form-section::before{
    content: '';
    width: 0;
    height: 0;
    border-bottom: 50px solid #0c56a1;
    border-left: 100vw solid transparent;
    position: absolute;
    bottom: 0;
}
.form-section .h2-title{
    font-size: 36px;
    font-weight: 500;
    color: #000000;
    margin: 8px 0;
}

.form-section .form-part{
    padding: 80px 20px;
}

.form-section .form{
    padding: 20px 30px;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.2);
}

.form-section .form .form-group{
 margin: 12px 0;   
}

.form-section .btn-effect{
    padding: 10px 40px;
    border: none;
    border-radius: 12px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    background:#0c56a1;
    overflow: hidden;
}

/* module-11 footer section css code */
.footer{
    background-color: #0c56a1;
}
.footer .about-us-col .footer-logo img{
    width: auto;
    height: 100px;
}
.footer .about-us-col .text-content .h3-title{
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    margin: 5px 0;
}
.footer .about-us-col .text-content .para{
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
}
.footer .footer-quick-links ul{
    padding: 0;
    margin: 20px 0;
}
.footer .footer-quick-links ul li{
    margin: 5px 0;
}
.footer .footer-quick-links ul li a{
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
}
.footer input[type=email] {
    width: 100%;
    padding: 12px;
    border: none;
    background: #094584;
    border-radius: 10px;
    resize: vertical;
    color: #fff;
}
.footer .submit-button .btn-effect{
    padding: 10px 30px;
    margin-top: 18px;
    border: none;
    border-radius: 12px;
    color: #0c56a1;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    background:#ffffff;
    overflow: hidden;
}
.footer .social-icon{
    margin-top: 20px;
}
.footer .social-icon ul{
    display: inline-block;
    padding: 0;
}
.footer .social-icon ul li{
    display: inline-block;
    padding: 0;
    margin: 0px 6px;
}
.footer .social-icon ul li a img{
    height: 30px;
    width: 30px;
}
.footer input::placeholder{
    color: #5791cc;
}
